/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --ms-primary-color: #083b4c;
    --ms-square1-color: #1389b2;
    --ms-square2-color: #0bd6a1;
    --ms-square3-color: #ffd166;
    --ms-square4-color: #f0466f;
    --ms-text-black: #000;
    --ms-text-white: #fff;
}

/* Regole CSS generali */
html{
    font-family: sans-serif;
}
body {
    background-color: var(--ms-primary-color);
}

/* MAIN */
/* Regole per i blocchi colorati del MAIN */
.ms_square {
    height: 100px;
    width: 100px;
    margin: 1rem;
    text-align: center;
    line-height: 100px;
    color: var(--ms-text-black);
    font-weight: bold;
}
.ms_bg_1 {
    background-color: var(--ms-square1-color);
}
.ms_bg_2 {
    background-color: var(--ms-square2-color);
}
.ms_bg_3 {
    background-color: var(--ms-square3-color);
}
.ms_bg_4 {
    background-color: var(--ms-square4-color);
}


/* MEDIA QUERY */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
    
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}
